{% extends "default.html" %}
{% block content %}
<div style="width:40%;margin:0 auto;">
    <script src="static/facebook_login.js"></script>
    <form class="center" action="#">
        <div class="error" style="padding-left:0px;font-size:25px;"><span>Choose a username:</span></div>
        <input type="text" name="username" value placeholder="Username">
        <div class="error"><span id="username_error"></span></div>
        <div style="width:100%;">
                <div style="padding-top:5px;color:black;width:45%;" class="center"><div class="fb-login-button">Login / Register</div></div>
        </div>
    </form>
<div>
{% endblock %}
