{% extends "default.html" %}
{% block content %}
<div style="width:40%;margin:0 auto;">
    <script src="static/facebook_register.js"></script>
    <form class="center" action="#">
        <div class="error" style="padding-left:0px;font-size:25px;"><span>Choose a username:</span></div>
        <input type="text" name="username" value placeholder="Username">
        <div class="error"><span id="username_error"></span></div>
		<input id="facebookID" name="facebookID" type="text" value="{{ fbid }}" hidden>
        <div style="width:100%;">
                <div style="width:100px;" class="center"><button id="register_btn" class="button">Register</button></div>
        </div>
    </form>
<div>
{% endblock %}
