{% extends "hiscores.html" %}
{% block up_box %}
    <div class="box">
        <div class="link" href="/hiscores_campaign" style="display:inline-block;">Campaign</div>
        <div class="link youarehere" href="/hiscores_challenge" style="display:inline-block;">Challenge</div>
    </div>

    <script type="text/javascript">
        $(".link").each(function() {
            var url = $(this).attr("href");
            $(this).click(function() {
                window.location.href = url;
            });
        });
    </script>
{% endblock %}
