{% extends "hiscores.html" %}

{% block content %}
<div class="hiscore">
    <div class="box">
        <div class="link youarehere" href="/hiscores_campaign" style="display:inline-block;">Campaign</div>
        <div class="link" href="/hiscores_challenge" style="display:inline-block;">Challenge</div>
    </div>

    <script type="text/javascript">
$(".link").each(function() {
        var url = $(this).attr("href");
        $(this).click(function() {
            window.location.href = url;
            });
        });
    </script>

    <table class="hiscores">
        <tr>
            <th>Username</th>
            <!-- <th>Name</th> -->
            <th>Level</th>
        </tr>
        {% for player in players %}
        <tr>
            <td> {{ player.username }} </td>
            <!-- <td> {{ player.name }} </td> -->
            <td> {{ player.score }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
