<div class="game">
    <div class="login center">
        <div class="option-btn signin-btn">Login</div>
        <div class="option-btn signup-btn">Register</div>
    </div>
    <div style="width:33%;margin:0 auto;">
        <form style="width:300px;">
            <input id="name_field" type="text" name="name" value placeholder="Name">
            <span class="login-error">{{ email_error }}</span>
            <input type="text" name="user" value placeholder="Username">
            <span class="login-error">{{ username_error }}</span>
            <input type="password" name="password" value placeholder="Password">
            <span class="login-error">{{ password_error }}</span>
            <div style="width:100%;">
                <div class="center" style="width: 53%;">
                    <button id="submit_btn" class="button center" type="submit">Login</button>
                </div>
            </div>
        </form>
    <div>
</div>