{% extends "default.html" %}
{% import 'sidebar.html' as sidebar %}
{% block content %}
<div style="position: relative;">
    <canvas id="layer1" width="750" height="500" style="position: absolute; left: 0; top: 0; z-index: 0;">
        Your browser does not support HTML5 Canvas, try the latest version of Firefox or Chrome.
    </canvas>
    <canvas id="layer2" width="750" height="500" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
</div>
{% endblock %}

{% block right_content %}
<div class="sidebar box">
    <div class="wordspacer"></div>
    <div class="word right-word" id="current_0"></div>
    <div class="wordspacer"></div>
    <div class="word right-word" id="current_1"></div>
    <div class="wordspacer"></div>
    <div class="word right-word" id="current_2"></div>
    <p id="stats"></p>
</div>
{% endblock %}

{% block bottom_content %}
<div class="box" id="typing-bar">
    <div class="center" style="width: 500px;height: 100%;">
        <div class="wrapper" style="width: 500px;height: 50px;">
            Type here: <input style="margin-left: 20px;height: 40px;back" name="typing" id="typing" type="text" value="" autofocus />
        </div>
    </div>
</div>

{% block game_mode %}
{% endblock %}

<script src="static/utils.js" type="text/javascript" ></script>
<script src="static/pong_scores.js" type="text/javascript" ></script>
<script src="static/pong_multi.js" type="text/javascript" ></script>
<script src="static/pong_paddle.js" type="text/javascript" ></script>
<script src="static/pong_ai.js" type="text/javascript" ></script>
<script src="static/pong_clock.js" type="text/javascript" ></script>
<script src="static/pong_draw.js" type="text/javascript" ></script>
<script src="static/pong_run.js" type="text/javascript" ></script>
<script src="static/pong_words.js" type="text/javascript" ></script>
<script src="static/pong.js" type="text/javascript" ></script>
<script src="static/pong_listeners.js" type="text/javascript" ></script>
{% endblock %}
