<div class="center" style="width: 1270px;">
    <div class="section" style="background-color: {{ left_color }};">
        {{ left_content }}
        <div id="name" style="width: 200px;color: white; background-color: black;"></div>
    </div>
    <div class="game">
        <canvas id="canvas">
            Your browser does not support HTML5 Canvas, try the latest version of Firefox or Chrome.
        </canvas>
    </div>
    <div class="section" style="background-color: {{ right_color }};">
        {{ right_content }}
    </div>
</div>
<script src="static/pong.js" type="text/javascript" ></script>