{% extends "default.html" %}
{% macro sidebar(name) -%}
    <div id="menu" class="sidebar box">
    	<div class="name-div">Hi {{ name }}!</div>
    	<div class="space"></div>
        <div id="campaign_link" class="link" href="/campaign" title="Play through all the levels!">Campaign</div>
    	<div id="challenge_link" class="link" href="/challenge" title="There's no end in sight, how far can you get!?">Challenge Mode</div>
    	<div id="pvp_link" class="link" href="/pvp" title="Play a friend!">PvP</div>
    	<div id="custom_link" class="link" href="/custom" title="Choose custom speed and word length">Custom Mode</div>
    	<div class="space"></div>
    	<div id="hiscores_link" class="link" href="/hiscores_campaign">Hiscores</div>
        <div id="stats_link" class="link" href="/stats_challenge">Stats</div>
    	<div class="space"></div>
    	<div class="link" href="/_logout">Logout</div>
    </div>
    <script type="text/javascript">
    	$(".link").each(function() {
    		var url = $(this).attr("href");
    		$(this).click(function() {
    			window.location.href = url;
    		});
  		});
    </script>
{%- endmacro %}
{% block left_content %}
	{{ sidebar() }}
{% endblock %}
