{% extends "default.html" %}
{% macro sidebar(name) -%}
    <div class="sidebar">
    	<div class="name-div">Hi {{ name }}!</div>
    	<div class="space"></div>
    	<div class="link" href="/challenge" title="There's no end in sight, how far can you get!?">Challenge Mode</div>
    	<div class="link" href="/campaign" title="Play through all the levels!">Campaign</div>
    	<div class="link" href="/pvp" title="Play a friend!">PvP</div>
    	<div class="link" href="/custom" title="Choose custom speed and word length">Custom Mode</div>
    	<div class="space"></div>
    	<div class="link" href="/hiscores">Hiscores</div>
    	<div class="space"></div>
    	<div class="link" href="/_logout">Logout</div>
    </div>
    <script type="text/javascript">
    	$(".link").each(function() {
    		var url = $(this).attr("href");
    		$(this).click(function() {
    			window.location.href = url;
    		});
  		});
    </script>
{%- endmacro %}
{% block left_content %}
	{{ sidebar() }}
{% endblock %}
