<!DOCTYPE html>
<head>
    <title>Type Pong</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type='text/javascript' src="static/script.js"></script>
</head>

<html>
<body>
    <div id="header">
        <div style="width:750px;margin:0 auto;">
            <div id="title">Type Pong</div>
        </div>
    </div>
    <div id="container">
        <div class="center">
            <div class="header" style="width:100%;"><div id="main" class="center header">text</div></div>
            {{content}}
        </div>
    </div>
</body>
</html>
